body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.btn-start,
.quiz-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.start_button {
  background-color: goldenrod;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  color: brown;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s; }
  .start_button:hover {
    background-color: #e8c15f; }

.quiz-card {
  width: 550px;
  border: 1px solid #ccc9c9;
  opacity: 0;
  pointer-events: none;
  transition: all 0.7s ease;
  transform: translate(-50%, -50%) scale(0.5);
  background-color: #fff; }
  .quiz-card.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1); }
  .quiz-card .quiz_title {
    background-color: #f3eded;
    padding: 20px 5px;
    font-size: 25px;
    font-weight: 600;
    border-bottom: 1px solid #ccc9c9; }
  .quiz-card .quiz-content {
    padding: 20px 5px; }
    .quiz-card .quiz-content .question {
      padding: 10px 0 20px 0;
      font-size: 20px; }
  .quiz-card .answer .options {
    padding: 10px 5px;
    border: 1px solid #ccc9c9;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    cursor: pointer; }
    .quiz-card .answer .options:hover {
      color: #11282c;
      background-color: #ffd33d; }
    .quiz-card .answer .options.correct {
      color: #155724;
      background-color: #d4edda; }
    .quiz-card .answer .options.incorrect {
      color: #721c24;
      background-color: #f8d7da; }
    .quiz-card .answer .options .option {
      font-weight: bold;
      margin-right: 3px;
      text-transform: uppercase; }
      .quiz-card .answer .options .option::after {
        content: ":"; }
    .quiz-card .answer .options.disabled {
      pointer-events: none; }
  .quiz-card .quiz_footer {
    background-color: #f3eded;
    padding: 20px 5px;
    font-size: 25px;
    font-weight: 600;
    border-top: 1px solid #ccc9c9;
    display: flex;
    justify-content: flex-end; }
    .quiz-card .quiz_footer .next_btn {
      background-color: #0a3fee;
      padding: 10px 30px;
      border: none;
      border-radius: 10px;
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
      transition: 0.5s; }
      .quiz-card .quiz_footer .next_btn:hover {
        background-color: #4d75f8; }
