body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif; }

.btn {
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s; }

.btn-primary {
  background-color: #007fB0; }

.btn-start,
.quiz-card,
.score_card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.start_button {
  background-color: goldenrod;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  color: brown;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s; }
  .start_button:hover {
    background-color: #e8c15f; }

.quiz-card {
  width: 550px;
  border: 1px solid #ccc9c9;
  opacity: 0;
  pointer-events: none;
  transition: all 0.7s ease;
  transform: translate(-50%, -50%) scale(0.5);
  background-color: #fff; }
  .quiz-card.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1); }
  .quiz-card .quiz_title {
    background-color: #f3eded;
    padding: 20px 5px;
    font-size: 25px;
    font-weight: 600;
    border-bottom: 1px solid #ccc9c9; }
  .quiz-card .quiz-content {
    padding: 20px 5px; }
    .quiz-card .quiz-content .question {
      padding: 10px 0 20px 0;
      font-size: 20px; }
    .quiz-card .quiz-content .quiz-end {
      font-size: 25px;
      color: #333;
      text-align: center; }
  .quiz-card .answer .options {
    padding: 10px;
    border: 1px solid #ccc9c9;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    cursor: pointer; }
    .quiz-card .answer .options:hover {
      color: #11282c;
      background-color: #ffd33d; }
    .quiz-card .answer .options.correct {
      color: #155724;
      background-color: #d4edda; }
    .quiz-card .answer .options.incorrect {
      color: #721c24;
      background-color: #f8d7da; }
    .quiz-card .answer .options .option {
      font-weight: bold;
      margin-right: 3px;
      text-transform: uppercase; }
      .quiz-card .answer .options .option::after {
        content: ":"; }
    .quiz-card .answer .options.disabled {
      pointer-events: none; }
  .quiz-card .quiz_footer {
    background-color: #f3eded;
    padding: 20px 5px;
    font-size: 25px;
    font-weight: 600;
    border-top: 1px solid #ccc9c9;
    display: flex;
    justify-content: space-between; }
    .quiz-card .quiz_footer .next_btn {
      opacity: 0;
      pointer-events: none;
      background-color: #0a3fee;
      padding: 10px 30px;
      border: none;
      border-radius: 10px;
      color: #fff;
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
      transform: scale(0.8);
      transition: all 0.5s ease; }
      .quiz-card .quiz_footer .next_btn:hover {
        background-color: #4d75f8; }
      .quiz-card .quiz_footer .next_btn.show {
        opacity: 1;
        pointer-events: auto;
        transform: scale(1); }
    .quiz-card .quiz_footer .question_index_item {
      background-color: #3da15b;
      color: #fff;
      font-weight: bold;
      font-size: 16px;
      border-radius: 5px;
      padding: 5px 10px; }

.score_card {
  width: 550px;
  border: 1px solid #ccc9c9;
  opacity: 0;
  pointer-events: none;
  transition: all 0.7s ease;
  transform: translate(-50%, -50%) scale(0.5);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 10px; }
  .score_card.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1); }
  .score_card .score_text {
    padding: 30px 0 50px 0;
    font-size: 20px;
    font-weight: 600; }
  .score_card .icon {
    font-size: 70px;
    color: #0a3fee; }
  .score_card .buttons .btn {
    margin: 0 10px;
    color: #fff; }
    .score_card .buttons .btn:hover {
      opacity: 0.8; }
